# dependencies
/node_modules

# vscode
.vscode

# git
.git 
.gitignore

# misc
.env
.env.local
.env.prod

# test
/coverage

# log files
logFile.log
exceptions.log

# snyk cache
.dccache

# dockerfile
Dockerfile
Dockerfile.dev
Dockerfile.multi-stage
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.backup.yml

# src code
/src
tsconfig.json
