# dependencies
/node_modules

# vscode
.vscode

# git
.git 
.gitignore

# misc
.env
.env.local
.env.prod

# test
/coverage

# log files
logFile.log
exceptions.log

# snyk cache
.dccache

# dockerfile
Dockerfile.dev
Dockerfile.default
docker-compose.dev.yml
# Dockerfile
# docker-compose.yml
# docker-compose.prod.yml

# src code
/src
tsconfig.json
