# dependencies
/node_modules

# folder
/dist

# dockerfile
Dockerfile.multi-stage
docker-compose.backup.yml

# misc
.env

# log files
logfile.log
exceptions.log

# testing
/coverage

# snyk cache
.dccache