# dependencies
/node_modules

# folder
/dist

# dockerfile
Dockerfile.multi-stage
docker-compose.backup.yml

# misc
.env
.env.local
.env.prod

# log files
logFile.log
exceptions.log

# testing
/coverage

# snyk cache
.dccache